.line{
  border-bottom:1px solid white;
}

.footer{
  background-color: #000000;
  color:rgba(255, 255, 255, 0.8);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding:  40px 20px;
  
}

.footer-input{
  width: 330px;
  height: 40px;
  background-color: white;
  border: none;
  padding-left: 10px;
}

.footer-input-box{
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.footer-input-box button {
  padding: 12px 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3); 
}


.footer-container{
  display: flex;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
}

.footer-input-container{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 2.5;
  padding:  40px 0px;
  width: 47vw;
}

.footer-title{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.footer-title-container{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 2.5;
}

.footer-part2{
  display: flex;
  gap:13vw;
  width: 47vw;
}

.footer-rates{
  display:flex;
  gap:10px;
  align-items: center;
  margin-top: 20px;
}

.footerMobile{
  display: none;
}

@media (max-width: 1110px) {
  .footerMobile{
     display: flex;
     flex-direction: column;
     background-color: #000000;
     color:rgba(255, 255, 255, 0.8);
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     
  }
  .footer-input-container-mobile{
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20px;
    border-bottom:1px solid white;
    margin-bottom: 10px;
  }
  .down{
    height: 30px;
    cursor: pointer;
  }

  .footerDropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20px;
  }

  .accordionBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    
  }
  .comp{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    
  }
  

 

  .footer{
    display: none;
  }
}

